{% extends 'base.html' %}
{% block title %}Add record{% endblock %}
{% block menu %}
{% endblock %}
{% block content%}
<style>
.form-group {
    margin-bottom: 1rem;
  }

  input,
  textarea {
    padding: 0.5rem;
    border-radius: 0.25rem;
    border: 1px solid #ccc;
    width: 100%;
  }

  button {
    margin-top: 1rem;
  }


</style>
<form method="POST" action="{% url 'article_add' %}">
{% include 'partial/article_form.html'%}
    <button type="submit">Create Record </button>
</form>
{% endblock %}